@charset "UTF-8";

@font-face {
    font-family:'Macaroni';
    src: url('../fontes/Macaroni.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family:'Copeland';
    src: url('../fontes/Copeland.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Creato Display';
    src: url('../fontes/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #F2F2F2;
    --corf: #e0fbff;
    --cor1: #07C7F2;
    --cor2: #02B0EC;
    --cor3: #0384c0;
    --cor4: #444749;
    --cor5: #0D0D0D;

    --fonte-padrao:'Creato Display', sans-serif;
    --fonte-destaque: 'Copeland', serif;
    --fonte-titulo: 'Macaroni', sans-serif ;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--corf);
}

header {
    background-color: white;  
    min-height: 200px;
    padding: 20px;
    position: relative;
}

header > img{
    width: 12%;
    position: absolute;
    left: 8%;
    top: 10%;
}

header > h1{ 
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 3.8em;
    color: var(--cor5);
    position: absolute;
    left: 22%;
    top: 30%;
}

nav {
    position: absolute;
    top: 85%;
    right: -1%;    
    padding: 10px;
    background-color: var(--cor4);
    border: var(--cor2) 5px solid;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px var(--cor4);
}

nav > a {
    font-family: var(--fonte-destaque);
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:.5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    transition: 0.3s;
    text-decoration: none;
}

main {
    min-width: 300px;
    max-width:  90%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.377);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    padding: 10px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 2.8em;
    color: var(--cor5);
    text-align: center;
}

main h2 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.5em;
    color: var(--cor5);
    text-align: center;
    padding: 10px;
}

main p {
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.2em;
    color: var(--cor5);
    text-align: justify;
}
footer{
    font-weight: normal;
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration:.5s;
}

footer a:hover{
    color: var(--cor1);
    transition: 0.3s;
    text-decoration: underline;
}